[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = git://github.com/vim-scripts/CSApprox.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = git://github.com/vim-scripts/tComment.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
