[submodule "modules/plugins/tComment"]
	path = modules/plugins/tComment
	url = git://github.com/vim-scripts/tComment.git
[submodule "modules/plugins/nerdtree"]
	path = modules/plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "modules/plugins/perlomni"]
	path = modules/plugins/perlomni
	url = git://github.com/c9s/perlomni.vim.git
[submodule "modules/plugins/snipmate"]
	path = modules/plugins/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "modules/plugins/mojovim"]
	path = modules/plugins/mojovim
	url = https://github.com/yko/mojo.vim.git
[submodule "modules/plugins/liftweb"]
	path = modules/plugins/liftweb
	url = https://github.com/Shadowfiend/liftweb-vim.git
[submodule "modules/plugins/syntastic"]
	path = modules/plugins/syntastic
	url = https://github.com/scrooloose/syntastic/
[submodule "modules/colorschemes/vim-distinguished"]
	path = modules/colorschemes/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "modules/plugins/current-func-info"]
	path = modules/plugins/current-func-info
	url = https://github.com/tyru/current-func-info.vim
[submodule "modules/plugins/fugitive"]
	path = modules/plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "modules/plugins/vim-orgmode"]
	path = modules/plugins/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule "modules/colorschemes/vim-pigraph"]
	path = modules/colorschemes/vim-pigraph
	url = https://github.com/fmeyer/vim-pigraph.git
[submodule "modules/colorschemes/solarized"]
	path = modules/colorschemes/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "modules/plugins/vim-jade"]
	path = modules/plugins/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "modules/colorschemes/vim-mustang"]
	path = modules/colorschemes/vim-mustang
	url = https://github.com/marcus/vim-mustang.git
