[submodule "bundle/tComment"]
	path = bundle/tComment
	url = git://github.com/vim-scripts/tComment.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/perlomni"]
	path = bundle/perlomni
	url = git://github.com/c9s/perlomni.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/VimOrganizer"]
	path = bundle/VimOrganizer
	url = https://github.com/hsitz/VimOrganizer.git
[submodule "bundle/mojovim"]
	path = bundle/mojovim
	url = https://github.com/yko/mojo.vim.git
